fastapi
uvicorn
starlette
Jinja2
jinja2-humanize-extension
SQLAlchemy
psycopg2-binary
alembic
python-dotenv
pydantic
pydantic-settings
pydantic-extra-types
pydantic_core
passlib
numpy
pandas
scikit-learn
scipy
xgboost
tensorflow
joblib
matplotlib
seaborn
requests
httpx
anyio
idna
certifi
charset-normalizer
urllib3
rich
python-json-logger
pytest
ruff
python-multipart