fastapi
uvicorn[standard]
Jinja2
SQLAlchemy
psycopg2-binary
alembic
python-dotenv
pydantic
passlib
numpy
pandas
requests
httpx
rich
python-json-logger
pytest
ruff
python-multipart
joblib
scikit-learn
torch
aiohttp
